main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: antiquewhite;
    height: 70vh;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
ul{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    list-style:none;

}
.billing-container{
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    align-content: space-around;
}
.billing-container div{
    display: flex;
    flex-direction: column;
}
.ditail-container{
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    align-content: space-around;
}
.gifts{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-content: space-around;
}
.logo{
    background-image: url(https://cdn.iconscout.com/icon/premium/png-256-thumb/bookstore-2580986-2152263.png);
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}